<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <div class="dados">
        <form action="/cadastrar" method="post">
            <label>nome do aluno</label><br>
            <input type="text"><br>
            <label>matricula</label>
            <input type="text"><br>
            <label> senha </label><br>
            <input type="text"><br><br>
            <button type="submit">cadastrar</button>
        </form>
    </div>

</body>
</html>