<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <div class="topo">
        <h1>EXPRESSO FEDERAL</h1>
    </div>
    <div class="dados">
        <form action="/cadastrar" method="post">
            <h2>CADASTRO</h2><br>
            <input type="text" placeholder="digite seu nome:"><br><br>
            <input type="text" placeholder="digite seu email:"><br><br>
            <input type="text" placeholder="digite a sua matricula:"><br><br>
            <input type="text" placeholder="crie sua senha"><br><br>
            <input type="password" placeholder="confirme a senha:"><br><br>
            <button type="submit">cadastrar</button><br><br>
            <a>você já tem uma conta?</a>
            <a href="../templates/principal.html">entrar</a>
        </form>
    </div>

</body>
</html>