<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transito federa</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>
    <form action="/menu_adm" method="post">
      <div class="sidebar">
        <div class="sidebar-brand">
            <h1>MENU</h1>
        </div>
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar no menu...">
        </div>

        <ul class="sidebar-menu">
            <li>
                <a href="#" class="active"><i class="fa-solid fa-house"></i> INÍCIO</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-route"></i> ROTAS</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-car-side"></i> TRÂNSITO</a>
            </li>
            <li>
                <a href="/cad_viagem"><i class="fa-solid fa-users"></i> SOLICITAR VIAGEM</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-bus"></i> VEÍCULOS</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-gear"></i> CONFIGURAÇÕES</a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <a href="/logarlink" class="logout-btn"><i class="fa-solid fa-power-off"></i> SAIR</a>
        </div>
        <div class="titulo">
            <h1>EXPRESSO FEDERAL</h1>
        </div>


</div>
</body>
</html>