<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transito federa</title>
    <link rel="stylesheet" href="../static/css/principal.css">
</head>
<body>
    <div class="topo">
        <h1>expresso federal</h1>
    </div>
    <div class="menu">
        <div class="botao">
            <a href="/cadastrar-se">cadastrar-se</a>
        </div>
        <div class="botao">
             <a href="/entrar"> entrar</a>
        </div>
    </div>
    <div class="conteudo">
        <form action="/listar" method="post">
            <input type="text">
            <button>pesquisar</button>
            <!--inserir lista  parta buscar um horário específico-->
            <!--lista com os horários e onibus disponiveis -->
        </form>
    </div>

</body>
</html>